.upload {
    width: 125px;
    position: relative;
    margin: auto;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.upload img {
    border-radius: 50%;
    border: 2px solid black;
}

.upload .round {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.upload .round input[type="file"] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
    cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}